.s-1 {
    padding: 50px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    color: #5863F8;
    margin-bottom: 20px;
}


h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    /* width: 295px; */
    margin-bottom: 54px;
}

form {
    display: flex;
    justify-content: space-between;
    height: 288px;
}

textarea {
    max-width: 720px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    resize: none;
    border-width: 2px;
    background-color: #F8F8F8;
}

.fill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    max-width: 352px;
    width: 100%;
}


input {
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F8F8F8;

  }

button {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #5863F8;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
  }



/* cards */

.contact {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
    max-width: 1170px;
    width: 100%;
    
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 59px;
    height: 58px;
    margin-bottom: 21px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 9px;
}

.info {
    font-size: 14px;
    font-weight: 500;
    color: #B1B1B1;
    margin-bottom: 10px;
}

/* section 2 */

h4 {
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 63px;
}

.photos {
    display: flex;
    justify-content: space-between;
    max-width: 1246px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.photos1 {
    width: 352px;
    height: 352px;
}

/* footer */


.container1 {
    max-width: 1246px;
    width: 100%;
    margin: 0 auto;
    padding: 143px 38px 114px 38px;
    display: flex;
    justify-content: space-between;

    background-color: #121212;
}

.about {
    width: 261px;
}

h5 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 26px;
}

.about1 {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    
}


.icons1 {
    width: 35px;
    height: 35px;
}

.infos {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.links {
    display: flex;
    flex-direction: column;
}

h6 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 29px;
}

.links > a {
    color: #5863F8;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}

.bolo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.bolo1 {
    width: 20px;
    height: 20px;
    margin-right: 13px;
}








